label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.table-wrapper {
    max-height: 400px;
    overflow: auto;
    display: inline-block;
}

.table-earnings {
    background: #F3F5F6;
}

@media only screen and (max-width: 1024px) {
    .img {
        display: none;
    }
    .logout {
        display: none !important;
    }
    .logout-sidebar {
        display: block !important;
    }
}

.card-pipeline:hover {
    background-color: hsl(200, 94%, 87%);
    box-shadow: 2px 2px 2px hsl(200, 19%, 35%);
}